---
import "@styles/globals.css";
import Footer from "@components/Footer.astro";
import MainSEO from "@components/MainSEO.astro";
import Navbar from "@components/Navbar.astro";
import FollowMouse from "@components/ui/FollowMouse.astro";

interface Props {
	title?: string;
	description?: string;
	image?: string;
}

const { title, description, image } = Astro.props;
const baseUrl = import.meta.env.BASE_URL;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />

		<MainSEO {title} {description} {image} />

		<link
			rel="icon"
			type="image/svg+xml"
			href={`${baseUrl}/favicon.svg`.replace(/\/+/g, "/")}
		/>
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<FollowMouse />
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<script>
	import "../lib/lenis";
</script>
